@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* font-family:"Quicksand", sans-serif */


* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 5px 80px;
}

@media screen and (max-width:768px) {
  div.sticky {
    padding: 5px 15px;
  }
}

.header-icons {
  cursor: pointer;
}


@media screen and (min-width:800px) {
  .mobileLogo {
     display: none;
  }
  .desktopLogo {
    height: 100px;
    width: 180px;
    object-fit: cover;
    margin-top: -20px;
  }
}

@media screen and (max-width:770px) {
  .mobileLogo {
    height: 30px;
    width: 40px;
    object-fit: cover;
  }
  .desktopLogo {
    display: none;
  }
}