@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

@font-face {
  font-family: "Calibri";
  src: local("Calibri") url("./Assets/Font/Calibri Bold/Calibri Bold.TTF")
    format(truetype);
}

.headings {
  font-family: "Calibri", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 5px 80px;
  z-index: 100;
}

@media screen and (max-width:768px) {
  div.sticky {
    padding: 0px 15px;
  }
}

.header-icons {
  cursor: pointer;
}


@media screen and (min-width:800px) {
  .mobileLogo {
     display: none;
  }
  .desktopLogo {
    height: 100px;
    width: 180px;
    object-fit: cover;
    margin-top: -20px;
  }
}

@media screen and (max-width:770px) {
  .mobileLogo {
    height: 30px;
    width: 40px;
    object-fit: cover;
  }
  .desktopLogo {
    display: none;
  }
}

.servicesImage {
  height:50vh;
  width: 50%;
}

@media screen and (max-width:768px) {
  .servicesImage {
    width: 100%;
  }
}

.primaryBtn {
  background-color: rgb(138, 1, 230);
  padding: 5px 20px;
  border-radius: 9px;
  color: white;
  border: none;
  height: 45px;
  width: 50%;
}

.primaryBtn:hover {
  background-color: rgb(127, 6, 154);
}

.visionAndMissionImage {
  height:60px;
  width: 60px;
}

.client-logo {
  height: 100%;
  width: 100%;
}

.slick-dots {
  display:none !important
}

.milestonesImage {
  height: 70%;
  width: 100%;
  top:0;
  left: 0;
  right: 0;
  margin-bottom: 5%;
}

.whyUsImage {
  min-height: 280px;
  min-width: 350px;
  border-radius: 9px;
}

@media screen and (max-width:500px) {
  .whyUsImage {
   min-height: 120px;
    min-width: 150px;
  }
}

@media screen and (min-width:1024px) {
  #child {
    margin-left: -58% !important;
  }
}

@media screen and (max-width:768px) {
  #child {
    margin-left: -47% !important;
  }
}

@media screen and (max-width:320px) {
  #child {
    margin-left: -23.5% !important;
  }
}

#child {
  display: none;
}

#parent:hover #child {
  display:block;
}

#our-services::-webkit-scrollbar {
  display:none;
}

